.container-fluid{
padding-left: 0 !important;
padding-right: 0 !important;
}
.banner {
background-color: plum;
width:100%;
height:75px;
margin-bottom: 50px;

}
.text{
text-align:center;
top: 50%;
left:50%;
transform:transform;
}